$block: '.blog-bar';
#{$block}{
	background-color: $orange;
	&__content{
		background-image: url(../img/blog-bg.png);
		background-repeat: no-repeat;
		background-position: left center;
		padding:2rem 0;
		h2{
			font-size:3.7rem;
			color: $white;
			@include breakpoint(small down){
				text-align:center;
				font-size:3rem;
			}
		}
		p{
			font-size:1.8rem;
			color: $white;
			line-height:1.8rem;
			font-weight:300;
			@media (max-width:767px){
				text-align:center;
				font-size:1.4rem;
			}
		}
		@include breakpoint(medium down){
			background-position: -7.5rem center;
		}
		@include breakpoint(small down){
			background-image:none;
			
		}
	}
	&__button{
		font-size:1.7rem;
		line-height:5rem;
		margin-top: 1.5rem;
		float:right;
		@include breakpoint(medium down){
			width: 100%;
		}
		@include breakpoint(small down){
			float:none;
			margin: 2rem auto 0;
			
		}
	}
}