$block: '.footer';
#{$block}{
	padding: 5rem 0 2rem;
	&__general{
		@include breakpoint(medium down){
			margin-bottom:2rem;
			text-align: center;
		}
	}
	&__info{
		padding-left:2.2rem;
		p{
			margin:2rem 0;
			color: $medium-gray;
			font-size:1.3rem;
			line-height:1.8rem;
			font-weight:500;
			a{
			color: $orange;
				&[href^="mailto:"]{
					font-weight:700;
					text-decoration:underline;
				}
			}
		}
	}
	&__social{
		padding-left:2.2rem;
		a{
			color: $dark-gray;
		    text-decoration: none;
		    margin-right: 0.5rem;
		    font-size: 2rem;
		}
	}
	&__navigation{
		ul{
			li{
				list-style:none;
				font-size:1.4rem;
				font-weight: 300;
				line-height:2.3rem;
				a{
					color: $medium-gray;
				}
			}
			ul{
				margin-left: 2.8rem;
			}
		}
		> ul{
			margin-left:0;
			> li{
				display: inline-block;
				vertical-align:top;
				margin-right:5.5rem;
				font-weight:700;
				max-width:15rem;
				&:last-child{
					margin-right:0;
				}
				> a{
					color: $orange;
				}
				> ul{
					margin-left:0;
				}
				@include breakpoint(large down){
					margin-right:2rem;
				}
				@include breakpoint(medium down){
					margin-right:1.5rem;
				}
			}
		}

	}
	&__copyright{
		border-top: 1px solid #cecece;
		padding-top: 0.5rem;
		margin-top: 3rem;
		p{
			font-size:1.3rem;
			color: $medium-gray;
			line-height:1.8rem;
			font-weight:300;
			margin-bottom: 0;

			strong{
				font-size:1.6rem;
				@include breakpoint(small down){
					font-size:1.3rem;
					display:block;
					margin: 0 auto 0.2rem;
				}
			}
			a{
				font-size:1.3rem;
				color: #c02832;
				text-decoration:underline;
				font-weight:700;
			}
			@include breakpoint(small down){
				font-size:1.2rem;
			}
		}
		@include breakpoint(medium down){
			text-align:center;
		}
	}
}
