$block: '.general-banner';
#{$block}{
	background-image: url(../img/kitchen-table-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 6rem 0;
	h1{
		font-size:7.5rem;
		color: $white;
		line-height:7.7rem;
		@include breakpoint(medium down){
			font-size:5.5rem;
			line-height: 5.7rem;
		}
		@include breakpoint(small down){
			font-size:4.5rem;
			line-height: 4.7rem;
		}
	}
	p{
		font-weight:300;
		color: $white;
		font-size:2.9rem;
		line-height:4.5rem;
		margin-bottom: 	0;
		@include breakpoint(medium down){
				font-size:2.2rem;
				line-height: 3.9rem;
		}
		@include breakpoint(small down){
				font-size:2rem;
				line-height: 3.9rem;
		}
		sup{
			top:-0.37em;
		}
	}
	&--single-oven{
		padding-top:2rem;
	}
	&--double-oven{
		padding:3rem 0;
	}
	&__oven-back{
		overflow:hidden;
		background-color: rgba(64,64,65,0.6);
		margin-bottom: 1rem;
		h3{
			font-size: 3.5rem;
    		line-height: 5.5rem;
    		color: #ff8a2c;
    		margin: 0;
    		text-align:center;
    		@include breakpoint(medium down){
				font-size: 3rem;
    			line-height: 5rem;
			}
			@include breakpoint(small down){
				font-size:2.5rem;
				line-height: 3.5rem;
			}
		}
		a{
			font-size: 1.7rem;
    		color: #fefefe;
    		font-weight: 600;
    		position: absolute;
    		left: 1.5rem;
    		top: 1.5rem;		
			i{
				color: #82817f;
    			font-size: 1.4rem;
    			margin-right: 0.8rem;
			}
			@include breakpoint(medium down){
				position:static;
				display: block;
				text-align:center;
			}
		}
	}
}