$block: '.top-header';
#{$block}{
	background-color: $light-gray;
	padding: 1.4rem 0;
	&__single-testimony{
		*{
			color: $dark-gray;
			font-size:1.4rem;
			display: inline-block !important;
			vertical-align:middle;
			margin:0;
			@include breakpoint(large down){
				font-size:1.22rem;
			}
		}
		img{
			@include breakpoint(large down){
				max-width:10rem;
			}
		}
		span{
			margin: 0 .5rem;
		}
		@include breakpoint(medium down){
				text-align:center;
			}
	}
	&__navigation{
		display:inline-block;
		.dropdown.menu .is-active > a{
			color: $dark-gray !important;
		}
		a{
			font-size:1.4rem;
			color: $dark-gray;
			padding-right:2.5rem !important;
		    &::after{
            	    border-color: #999996 transparent transparent !important;
		  	}
		  	&:hover{
		  		color: $dark-gray !important;
		  	}
		  	&:activw{
		  		color: $dark-gray !important;
		  	}
		  	&:link{
		  		color: $dark-gray !important;
		  	}
		  	@include breakpoint(large down){
		  		font-size:1.2rem;
		  	}
		}
	}
	&__social{
		display:inline-block;
		padding-left:0;
		a{
			color: $dark-gray;
			text-decoration:none;
			margin-left:0.5rem;
			font-size:2rem;
			@include breakpoint(large down){
				font-size:1.8rem;
			}
		}
	}
}

$block: '.bottom-header';
#{$block}{
	background-color: $dark-gray;
	padding:2rem 0;
}