$block: '.home-banner';
#{$block}{
	position:relative;
	background-image: url(../img/kitchen-table-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding:4rem 0 0;
	overflow:hidden;
	&__text{
		text-align:center;
		h1{
			font-size:7.5rem;
			color:$white;
			line-height: 7.7rem;
			margin-bottom: 0;
			@include breakpoint(medium down){
				font-size:4.5rem;
				line-height: 4.7rem;
			}
			@include breakpoint(small down){
				font-size:3.5rem;
				line-height: 3.7rem;
			}
		}
		h3{
			font-size:2.9rem;
			color:$white;
			line-height: 4.5rem;
			font-weight: 300;
			margin-bottom: 0;
			@include breakpoint(medium down){
				font-size:2.5rem;
				line-height: 3.9rem;
			}
		}
	}
	&__oven-info{
		padding-top:3rem;
		@include breakpoint(large down){
			padding-top:2rem;
		}
		@include breakpoint(medium down){
			padding-top:1rem;
		}
	}
	&__button{
		font-size:2rem;
		line-height:7rem;
		margin: 0 auto 1.5rem;
		max-width:33rem;
		width: 100%;
		&--white{
			font-weight:300;
		}
		@include breakpoint(large down){
			max-width:28rem;
			font-size:1.7rem;
		}
	}
	&__stats{
		p{
			color:$white;
			text-align:center;
			font-size:1.9rem;
			line-height:2.6rem;
			font-weight:700;
			margin-bottom: 0;
			@include breakpoint(large down){
				font-size:1.7rem;
			}
		}
	}
	&__slider{
		position:relative;
		z-index:2;
	}
	&__single-slider{
		min-height:40rem;
		position:relative;
		img{
			display:block;
			position:absolute;
			max-width: inherit;
    		margin-left: auto;
    		margin-right: auto;
    		left: 0;
    		right: 0;
    		bottom:0.5rem;
    		@include breakpoint(medium down){
				max-width: 100%;
			}
			@include breakpoint(small down){
				max-width: 40rem;
				bottom:1.5rem;
    		}
		}
		@include breakpoint(medium down){
			min-height:40rem;
		}
		@include breakpoint(small down){
			min-height:23rem;
		}
	}
	
	&__controls{
		position:relative;
		z-index: 3;
		margin-top: -1rem;
		margin-bottom: 	1rem;
		text-align:center;
		> *{
			display: inline-block !important;
    		color: $white;
    		cursor: pointer;
    		max-width: 70rem;
    		text-align: center;
    		vertical-align: middle;
		}
		&--next{
			@include breakpoint(medium down){
				display: none !important;
    		}
		}
		&--prev{
			@include breakpoint(medium down){
				display: none !important;
    		}
		}
	}
	&__legend{
		span{
		    vertical-align: middle;
		    p{
	    		font-size:1.5rem;
	    		line-height:1.5rem;
	    		margin:0;
	    		sup{
	    			font-size:0.8rem;
	    		}
	    		a{
	    			color: $white;
	    			text-decoration:underline;
	    		}
	    		@include breakpoint(large down){
	    			font-size:1.3rem;
	    			line-height:1.3rem;
	    		}
	    		@include breakpoint(medium down){
	    			font-size:1.1rem;
	    			line-height:1.2rem;
	    		}
		    }
		}
		@include breakpoint(large down){
				max-width: 50rem;
				font-size:1.3rem;
		}
		@include breakpoint(medium down){
				max-width: 100%;
				font-size:1.2rem;
    		}
	}
	&__table{
		position: absolute;
    	bottom: 0;
    	z-index: 1;
    	max-width:inherit;
    	margin-left:auto;
		margin-right:auto;
		left:0;
		right:0;
		@include breakpoint(small down){
			left:-20%;
		}
	}
}