$block: '.orange-bar';
#{$block}{
	background-color: $orange;
	&__content{
		overflow:hidden;
		position:relative;
		padding: 1.5rem 0;
		img{
			position:absolute;
			top:-1.8rem;
			@include breakpoint(small down){
				display:none;
			}
		}
		a{
			font-weight:bold;
			font-size:2.1rem;
			margin:0;
			color: #323232;
			text-decoration:none;
			padding-left:30rem;
			@include breakpoint(large down){
				font-size:1.8rem;
			}
			@include breakpoint(medium down){
				font-size:1.7rem;
				padding-left:27rem;
			}
			@include breakpoint(small down){
				padding:0;
				font-size:1.5rem;
			}
		}
		@include breakpoint(small down){
			text-align:center;
			padding: 1.5rem;
		}
	}
}
