body{
  font-size: 160%;
  min-width: 320px;
}
p{
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6{ 
  font-weight: 700;
}
.no-padding{ 
  padding-left: 0; padding-right: 0;
}
*{
  outline: none;
}
.row .row{
	margin-left: 0; margin-right: 0;
}
.relative{
	position:relative;
}
.clean{
	clear:both;
}
.cloud-pattern{
	background-image: url(../img/pat2.jpg);
	background-repeat: repeat-x;
}
.cloud-dark-pattern{
	background-image: url(../img/pat3-dark.jpg);
	background-repeat: repeat-x;
	background-color: #f5f5f5;
}
.full-cloud-pattern{
	background-image: url(../img/pat.jpg);
	background-repeat: repeat;
}
iframe{
	display:block;
	margin: 0 auto;
	@include breakpoint(medium down){
		width:100%;
	}
}
select {
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    background-image:none;
}
textarea{
	background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
}
@include breakpoint(large up){
	.large-uncentered, .large-uncentered:last-child:not(:first-child){float:left; clear:none;}
}
sup{
	font-size:40%;
	top: -1em;
	font-weight: 300 !important;
}
p{
	sup{
		font-size:60%;
		top:-0.4em;
	}
}
li{
	sup{
		font-size:60%;
		top:-0.4em;
	}
}
.library-content{
	padding: 2rem 0 2rem;
	border-bottom:0.1rem solid $light-gray;
	&__link{
		label{
			display:inline-block;
			font-weight:600;
			font-size:1.6rem;
		}
		a{
			font-size:1.6rem;
			color:$orange;
		}
	}
}
/***************
*WORDPRESS CORE
***************/
.alignnone { margin: 5px 20px 20px 0;}
.aligncenter, div.aligncenter { display: block; margin: 5px auto 5px auto;}
.alignright { float:right; margin: 5px 0 20px 20px;}
.alignleft { float: left; margin: 5px 20px 20px 0;}
a img.alignright { float: right; margin: 5px 0 20px 20px;}
a img.alignnone { margin: 5px 20px 20px 0;}
a img.alignleft { float: left; margin: 5px 20px 20px 0;}
a img.aligncenter { display: block; margin-left: auto; margin-right: auto;}
.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%;  padding: 5px 3px 10px; text-align: center;}
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0;}
.wp-caption.alignright { margin: 5px 0 20px 20px;}
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto;}
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden;}

/***********************
* ORANGE AREA
************************/
$block: '.orange-overlay';
#{$block}{
	background: #e77b24; 
    background: linear-gradient(rgba(231, 123, 36, 0.75), rgba(231, 123, 36, 0.75)), url('../img/pizza-bg.jpg');
	background-attachment: fixed !important;
	background-size: cover;
	padding: 5rem 0 0;
	h1{
		font-size:4rem;
		color: $white;
		line-height:3.7rem;
		margin-bottom: 2.8rem;
	}
	h2{
		font-size:3.7rem;
		color: $white;
		line-height:3.7rem;
		margin-bottom: 2.8rem;
	}
	h3{
		font-size:3.2rem;
		color: $white;
		line-height:2.8rem;
		margin-bottom: 2.8rem;
	}
	h4{
		color: $white;
		line-height:2.8rem;
		margin-bottom: 2.8rem;
	}
	p{
		color: $white;
		font-weight:400 !important;
		font-size:1.6rem;
		line-height:2.8rem;
		margin-bottom: 2.2rem;
	}
	ul{
		li{
			color: $white;
			font-weight:400 !important;
			font-size:1.6rem;
			line-height:2.8rem;
			a{
				color:$white;
				text-decortation:underline;
			}
		}
	}
	ol{
		li{
			color: $white;
			font-weight:400 !important;
			font-size:1.6rem;
			line-height:2.8rem;
			a{
				color:$white;
				text-decortation:underline;
			}
		}
	}
}
/***********************
* MENU
************************/

.top-header__navigation{
		ul.submenu{
			li.menu-item{
				a{
					&:hover{
						background-color: #3f4449 !important;
						color: $white !important;				
					}
					&:active{
						background-color: #3f4449 !important;
						color: $white !important;	
					}
				}
			}
			li.current_page_item > a{
				background-color: #3f4449 !important;
				color: $white !important;	
			}
		}
	.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after{display:none;}
	.menu-depth-1.submenu.is-dropdown-submenu{
		background: #d5d4cf;
		border: 6px solid #ffffff;
		top: 115% !important;
		z-index:9;
	}
	.sub-sub-menu.menu-depth-2.submenu{
		position:static;
		display:block;
		border:none;
		background-color: #d5d4cf;
	}
	.menu-depth-1.submenu.is-dropdown-submenu:after, .menu-depth-1.submenu.is-dropdown-submenu:before {
		bottom: 100%;
		left: 10%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.menu-depth-1.submenu.is-dropdown-submenu:after {
		border-color: rgba(213, 212, 207, 0);
		border-bottom-color: #d5d4cf;
		border-width: 10px;
		margin-left: -10px;
	}
	.menu-depth-1.submenu.is-dropdown-submenu:before {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #ffffff;
		border-width: 18px;
		margin-left: -18px;
	}
}


.bottom-header__navigation{
		ul.submenu{
			li.menu-item{
				a{
					&:hover{
						background-color: #3f4449 !important;
						color: $white !important;				
					}
					&:active{
						background-color: #3f4449 !important;
						color: $white !important;	
					}
				}
			}
			li.current_page_item > a{
				background-color: #3f4449 !important;
				color: $white !important;	
			}
		}
	.title-bar{
		background-color: transparent;
		.menu-icon{
			float:right;
		}
	}
	.top-bar{
		background-color: #404041;
		@include breakpoint(medium down){
			padding: 0;
		}
	}
	.top-bar ul{
		background-color: #404041;
		&.submenu{
			&.is-accordion-submenu{
				background-color: #d5d4cf;
				margin: 0;
				padding: 0 1rem 0;
		
				&.menu-depth-1{
					padding-bottom:1rem;
				}
				&.menu-depth-2{
					display: block !important;
				}
			}
		}
	}
	.accordion-menu{
		.menu-item-depth-0{
			a{
				padding: 1.3rem 1rem;
				&:last-child{
					padding: 1.3rem 0rem;
				}
			}
		}
	}
   .menu-icon{
		    width: 3.5rem;
    		height: 3rem;
    		color: $white;
    		font-size:3rem;
    		margin-top: 1.3rem;
    		&::after{
    			display:none;
    			background: none;
    			box-shadow: none;
    		} 
	}
   .menu-icon:hover::after{
		    background: #ffffff;
		    box-shadow: 0 0.7rem 0 #ffffff, 0 1.4rem 0 #ffffff;
    }
	.sub-sub-menu.menu-depth-2.submenu{
		position:static;
		display:block;
		border:none;
	}
	.top-bar ul.is-dropdown-submenu{background-color: #d5d4cf;}
	.menu-depth-1.submenu.is-dropdown-submenu{
		background: #d5d4cf;
		border: 6px solid #ffffff;

	}
	.menu-depth-1.submenu.is-dropdown-submenu:after, .menu-depth-1.submenu.is-dropdown-submenu:before {
		bottom: 100%;
		left: 10%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.menu-depth-1.submenu.is-dropdown-submenu:after {
		border-color: rgba(213, 212, 207, 0);
		border-bottom-color: #d5d4cf;
		border-width: 10px;
		margin-left: -10px;
	}
	.menu-depth-1.submenu.is-dropdown-submenu:before {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #ffffff;
		border-width: 18px;
		margin-left: -18px;
	}
	.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after,
	.is-accordion-submenu .is-accordion-submenu-parent > a::after, 
	.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after{display:none !important;}
	.dropdown.menu > li.opens-right > .is-dropdown-submenu{padding:1.2rem; border-radius:0.3rem; top:115%; z-index:9;}
	.dropdown.menu > li.is-dropdown-submenu-parent > a {
	    position: relative;
	    padding-right: 3.5rem;
	    font-size: 1.5rem;
	    @include breakpoint(large down){
           padding-right: 1.2rem;
           font-size: 1.3rem;
	    }
	}
	.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after{
		border-color: #7b7a79 transparent transparent;
		&.sub-menu-link{
			display:none;
		}

	}
	.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
		border-color: #7b7a79 transparent transparent;
	    @include breakpoint(large down){
			right: -7px;
		}
	}
	.menu-item--orange{
		background-color: #ff8a2c;
	    text-align: center;
	    border-radius: 5px;
	    padding-left: 2rem;
	    padding-right: 2rem;
	    margin-left: 2rem;
		a{
			font-size:1.6rem;
			line-height:3.2rem;
			@include breakpoint(large down){
				font-size: 1.3rem !important;
			}
		}
		@include breakpoint(large down){
			padding-left: 1rem;
	    	padding-right: 1rem;
		}
		@include breakpoint(medium down){
			margin-left:0;
		}
	}

	.menu-item-depth-1, .menu-item-depth-2{
		line-height:3.9rem;
	}
	.menu-item-depth-2 {
	    margin-bottom: 0.5rem;
	    margin-top: 0.5rem;
	}
	.menu-item-depth-1 a{
		text-align:left;
		color: $medium-gray !important;
		font-size:1.8rem;
		font-weight:700;
		&:hover{
	    	color: $medium-gray !important;
	    }
	    &:active{
	    	color: $medium-gray !important;
	    }
	    &:link{
	    	color: $medium-gray !important;
	    }
	}
	.menu-item-depth-2 a{
		text-align:left;
		color: $medium-gray !important;
		font-size:1.6rem;
		font-weight:300;
		&:hover{
	    	color: $medium-gray !important;
	    }
	    &:active{
	    	color: $medium-gray !important;
	    }
	    &:link{
	    	color: $medium-gray !important;
	    }
	}
	.menu-item--white{
		background-color: $white;
	}
	a.menu-link.main-menu-link {
	    font-weight: 500;
	    font-size: 1.6rem;
	    color: #fff;
	    &:hover{
	    	color: #fff;
	    }
	    &:active{
	    	color: #fff;
	    }
	    &:link{
	    	color: #fff;
	    }
	}
}

.submenu .is-accordion-submenu-parent > a {
    @include breakpoint(medium down){display: none;}
}
.menu-item-depth-0 > li.is-submenu-parent-item.is-submenu-item.is-accordion-submenu-item{
    @include breakpoint(medium down){display: none;}
}
.menu-depth-1 > li.is-submenu-parent-item.is-submenu-item.is-accordion-submenu-item{
	  @include breakpoint(medium down){display: none;}
}
