$block: '.pagination-block';
#{$block}{
	margin-top: 3rem;
	border-top:1px solid #dcdcdc;
	padding-top:3rem;
  &__pagination{
  	text-align:center;
  	.page-numbers{
  		padding: 1rem 2rem;
    	font-size: 2rem;
    	font-weight: 300;
    	color: #313131;
    	&.current{
    		font-weight:bold;
    	}
    	&.next{
			border: 1px solid #323132;
    		border-radius: 0.5rem;
    	}
    	&.prev{
    		border: 1px solid #323132;
    		border-radius: 0.5rem;
    	}
  	}
  }
}