/**************
*VIDEOS
***************/
.reveal-overlay{
    overflow: auto !important;
}

.video-reveal{
    padding:0;
    &__content{
        padding:2rem;
        a{
            font-size:2.1rem;
            color: #323232;
            font-weight: 700;
        }
        h1{
            font-size:4.1rem;
            color:$orange;
        }
    }

}
.close-button{
    z-index:999;
    top: -1.5rem;
    right: -1.5rem;
    @include breakpoint(small down){
              top: 0rem;
            right: 0rem;
    } 
}
.reveal{
        overflow-y: visible;
        @include breakpoint(small down){
                overflow-y: auto;
        }
}
.youtube-player, .vimeo-player, .vimeo-thumb, .vimeo-reveal {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    /* margin: 5px; */
}

.youtube-player iframe, .vimeo-player iframe, .vimeo-reveal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img, .vimeo-player img, .vimeo-thumb img, .vimeo-reveal img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover, .vimeo-player img:hover, .vimeo-thumb img:hover, .vimeo-reveal img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play, .vimeo-player .play, .vimeo-thumb .play {
    height: 71px;
    width: 73px;
    left: 50%;
    top: 50%;
    margin-left: -36.5px;
    margin-top: -35.5px;
    position: absolute;
    background: url(../img/play-video.png) no-repeat; 
    cursor: pointer;
}
.flex-video{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.flex-video.widescreen {
    padding-bottom: 56%;
}