$block: '.history-about';
#{$block}{
	padding: 4rem 0 10rem;
	overflow:hidden;
	&__text{
		h2{
			color: $orange;
			font-size:5.2rem;
			@include breakpoint(large down){
				font-size:4.2rem;
			}
			@include breakpoint(medium down){
				font-size:3.5rem;
			}
			@include breakpoint(small down){
				font-size:3rem;
			}
		}
		p{
			color: $dark-gray;
			line-height:2.8rem;
			font-weight:300;
			@include breakpoint(medium down){
				font-size: 1.5rem;
			}
		}
	}
	&__image{
		position:relative;
		img{
			position: absolute;
    		top: -5rem;
    		max-width: inherit;
    		left:-2.5rem;
    		@include breakpoint(medium down){
			  max-width: 100%;
			  position: static;
			  display: block;
			  margin: 0 auto;
    		}
		}
	}
	@include breakpoint(medium down){
		padding: 4rem 0 3rem;
	}
}

$block: '.values-about';
#{$block}{
	padding-bottom: 6rem;
}
/***********************
* FLAG
************************/
$block: '.made-box';
#{$block}{
	background: #404041; 
    background: linear-gradient(rgba(64, 64, 65, 0.85), rgba(64, 64, 65, 0.85)), url('../img/Flag-2.jpg');
	background-attachment: fixed !important;
	background-size: cover;
	padding: 7rem 0;
	h2{
		color: $orange;
		font-size:5.2rem;
		line-height:5.2rem;
		@include breakpoint(large down){
			font-size:4.2rem;
		}
		@include breakpoint(medium down){
			font-size:3.5rem;
		}
		@include breakpoint(small down){
			font-size:3rem;
		}
	}
	h5{
		color: $white;
		font-size:2.1rem;
		line-height:2.8rem;
	}
	p{
		font-weight:300;
		color: $white;
		margin-bottom: 0;
		font-size:1.6rem;
		line-height:2.8rem;
		@include breakpoint(medium down){
			margin-bottom: 1.5rem;
		}
	}
	@include breakpoint(medium down){
			padding: 3.5rem 0;
	}
}
$block: '.second-made-box';
#{$block}{
	&__text{
		padding-top:5.5rem;
		padding-bottom:5.5rem;
		p{
			font-weight:300;
			color: $dark-gray;
			margin-bottom: 0;
			font-size:1.6rem;
			line-height:2.8rem;
		}
	}
	&__image{
		position:relative;
		img{
			position: absolute;
    		max-width: inherit;
    		top: -28rem;
    		right: 2rem;
		}
	}
}
$block: '.staff';
#{$block}{
	padding:5rem 0 7rem;
	&__intro{
		h2{
			color: $orange;
			font-size:4.1rem;
			line-height:4.5rem;
		}
		p{
			font-weight:300;
			color: $dark-gray;
			margin-bottom: 0;
			font-size:1.8rem;
			line-height:2.8rem;
		}
	}
	&__members{
		padding-top:4rem;
	}
	&__single-member{
		padding: 0 1rem;
		max-width:28rem;
		margin: 4rem 0;
		display:inline-block;
		vertical-align:top;
	}
	&__box{
		background-color:#575758;
		padding: 0 1.7rem 1.5rem;
		h4{
			color: $orange;
			font-size:2.1rem;
			line-height:2.3rem;
			margin-top: -2rem;
		}
		h6{
			color: $white;
			font-size:1.6rem;
			line-height:2.3rem;
		}
		p{
			font-weight:300;
			color: $white;
			font-size:1.6rem;
			line-height:2.3rem;
			margin-bottom: 0;
		}
		img{
			position:relative;
			top:-5rem;
		}
	}
	@include breakpoint(medium down){
		padding:3rem 0 7rem;
	}
}