$block: '.archive-content';
#{$block}{
	padding:3rem 0;
	&__single{
		width: 37rem; 
		margin-bottom: 1rem; 
		padding: 0 1rem; 
		max-width: 100%;
		div{
			background-color: $white;
		}
		@include breakpoint(large down){
			width: 32rem; 
			margin: 1rem auto;
			position:static !important;
		}
		@include breakpoint(medium down){
			width: 28rem; 
		}
	}
	&__thumbnail{
		position:relative;
		overflow:hidden;
		img{
			display:block;
			margin: 0 auto;
			width:100%;
		}
	}
	&__excerpt{
		padding:2rem;
		h4{
			font-size:2.8rem;
			line-height:3rem;
			color: $orange;
			@include breakpoint(large down){
				font-size:2.6rem;
				line-height:2.8rem;
			}
			@include breakpoint(medium down){
				font-size:2.4rem;
				line-height:2.6rem;
			}
		}
		p{
			font-weight:300;
		}
		a{
			font-size:2.1rem;
			font-weight:700;
			color:$orange;
		}
		&--videos{
			a{
				font-size:2.1rem;
				color: #323232;
			}
		}
	}
	&__info{
		padding:0.5rem 0;
		border-top:1px solid #dddddd;
		border-bottom:1px solid #dddddd;
		margin:1rem 0;
		&--videos{
			border: none !important;
		}
	}
	&__info-single{
		display:inline-block;
		font-weight:300;
		font-size:1.6rem;
		padding:0 0.5rem;
		&--date{
			font-weight:300;
			font-size:1.4rem;
		}
		&--date-videos{
			font-weight:700;
			font-size:1.4rem;
		}
		&--category{
			a{
				font-weight:300;
				font-size:1.4rem;
			}
		}
	}
}

$block: '.featured-slider';
#{$block}{
	margin-top: 2rem;
	margin-bottom: 0 !important;
	&__single{
		overflow:hidden;
		background-color: $white;
		h4{
			    line-height: 3.2rem;
    			font-size: 3rem;
		}
	}
	&__image{
		position:relative;
		overflow:hidden;
		img{
			display:block;
			width: 100%;
		}
	}
}
.dots_custom{
	position:absolute;
	right: 2.5rem;
	bottom:2.5rem;
	.slick-dots{
		position:static;
	    li button:before{
			font-size:1.2rem;
		}
	}
}