$block: '.catalog-oven';
#{$block}{
	padding:4.5rem 0;
	h2{
		font-size:4.1rem;
		line-height:4.5rem;
		color: $orange;
		@include breakpoint(medium down){
			font-size:3.8rem;
			line-height:4.1rem;
		}
		@include breakpoint(small down){
			font-size:3.5rem;
			line-height:3.8rem;
		}
	}
	&__single{
		overflow:hidden;
		background-color: #f5f5f5;
		margin-bottom: 2rem;
		p{
			font-size:1.6rem;
			color:$dark-gray;
			line-height:2.8rem;
			font-weight:300;
		}
		@include breakpoint(medium down){
			max-height:inherit;
		}

	}
	&__container{
		margin-top: 3rem;;
	}
	&__text{
		padding-top: 2.5rem;
		padding-bottom:2.5rem;
	}
	&__link{
		margin: 0rem 0 2.5rem;
		font-size:4.1rem;
		line-height:4.5rem;
		display:block;
		color: $orange;
		font-weight:700;
		&:hover{
		   color: #c12a32;
		}
	}
	&__new{
		position:absolute;
		top: 4rem;
		left:0.8rem;
		z-index:9;
		@include breakpoint(medium down){
			top:inherit;
			bottom:4rem;
		}
	}
	&__image{
		position:relative;
		img{
			max-height:100%;
		 	position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
  			-ms-transform: translate(-50%, -50%);
  			
  			@include breakpoint(medium down){
				position:static;
				transform: translate(0%, 0%);
  				-ms-transform: translate(0%, 0%);
  				margin-bottom: 1rem;
			}
		}

	}
	&__button{
		line-height:7.5rem;
		font-size:2rem;
		max-width:32.5rem;
		margin:2.5rem 0 0;
	}
}