$block: '.main-home';
#{$block}{
	padding:4rem 0 6rem;
	&__intro{
		padding-bottom:5rem;
		h2{
			color: $orange;
			font-size:4.1rem;
			line-height:4.5rem;
			text-align:center;
			@include breakpoint(medium down){
				font-size:3.5rem;
			}
			@include breakpoint(small down){
				font-size:3rem;
			}
		}
	}
	&__text{
		width: 78rem;
		max-width: 100%;
		margin:4rem auto 3.5rem;
		p{
			color: $medium-gray;
			font-size:1.6rem;
			line-height:2.4rem;
			text-align:center;
			font-weight:300;
		}
	}
	&__button{
		&--intro{
			font-size:2rem;
			line-height:7rem;
			margin: 0 auto;
			max-width:32.9rem;
		}
		&--oven{
			font-size:2rem;
			line-height:7rem;
			margin: 1rem auto 0;
			max-width:32rem;
		}
	}
	&__oven{
		img{
			transform: rotate(-5deg);
		    -webkit-box-shadow: 0px 0px 30px 0px rgba(1, 1, 1, 0.53);
		    -moz-box-shadow: 0px 0px 30px 0px rgba(1, 1, 1, 0.53);
		    box-shadow: 0px 0px 30px 0px rgba(1, 1, 1, 0.53);
		    display: block;
		    margin: 2rem auto 5rem;
		}
		h3{
			color: $orange;
			font-size:3.2rem;
			line-height:2.8rem;
			text-align:center;
			margin-bottom: 2rem;
		}
		&:last-child{
			@include breakpoint(medium down){
				margin-bottom: 0rem;
			}
		}
		@include breakpoint(medium down){
			margin-bottom: 6rem;
		}
	}
	&__description{
		min-height: 9.7rem;
		p{
			color: $medium-gray;
			font-size:1.6rem;
			text-align:center;
			line-height:2.4rem;
			font-weight:300;
			margin-bottom: 0;
		}
	}
}

$block: '.demo-bar';
#{$block}{
	background-color: $dark-gray;
	padding: 3rem 0;
	overflow:hidden;
	position:relative;
	&__text{
		h2{
			color: #ff8a2c;
    		font-size: 5.2rem;
    		text-align: center;
    		line-height: 5rem;
    		margin-bottom: 2rem;
			@include breakpoint(medium down){
				font-size:4.2rem;
			}
		}
		p{
			font-size:1.8rem;
			color: $white;
			font-weight:300;
			line-height:2.8rem;
			text-align:center;
			@include breakpoint(medium down){
				font-size:1.5rem;
			}
		}
	}
	&__button{
		margin:2rem auto 0;
		font-size:2.4rem;
		font-weight:600;
		max-width:29rem;
		line-height:5.5rem;
	}
	&__image{
		img{
			position:absolute;
			top:-3rem;
			@include breakpoint(small down){
				position: static;
				display:block;
				margin:1rem auto 0;
			}
		}
	}
	@include breakpoint(small down){
		padding-bottom:0;
	}
}

$block: '.home-app';
#{$block}{
	padding: 10.5rem 0 21rem;
	overflow:hidden;
	&__text{
		h2{
			color: $orange;
			font-size:5.2rem;
			@include breakpoint(large down){
				font-size:4.2rem;
			}
			@include breakpoint(medium down){
				font-size:3.5rem;
			}
			@include breakpoint(small down){
				font-size:3rem;
			}
		}
		p{
			
			color: $dark-gray;
			line-height:2.8rem;
			font-weight:300;
			@include breakpoint(medium down){
				font-size: 1.5rem;
			}
		}
		ul{
			padding-left:3.5rem; 
			li{
				font-size: 1.8rem;
				color: $dark-gray;
				line-height:2.8rem;
				font-weight:300;
				@include breakpoint(medium down){
					font-size: 1.5rem;
				}
			}
			@include breakpoint(medium down){
				padding-left:2.5rem; 
			}
		}
	}
	&__button{
			font-size:2rem;
			line-height:7rem;
			margin: 6rem auto 0;
			@include breakpoint(medium down){
				margin: 2rem auto 0;
			}
	}
	&__image{
		position:relative;
		img{
			position: absolute;
    		top: -5rem;
    		max-width: inherit;
    		@include breakpoint(medium down){
			  max-width: 100%;
			  position: static;
			  display: block;
			  margin: 2rem auto 0;
    		}
		}
	}
	@include breakpoint(medium down){
		padding: 4rem 0 3rem;
	}
}