$block: '.gform_wrapper';
$box: ".white-box";

#{$block}{

	.gfield_label { 
		color: $orange;
		font-size: 4.1rem !important;
		text-align: center;
	}

	.gfield_required {
		color: $red !important;
	}

	.gfield_radio li[class*="gchoice"] {
			display: inline-block;
			width: 38rem;
			vertical-align: top;


			label{
				border-radius: 5px;
				background-color: #f5f5f5;
				padding: 2rem 2rem 2rem 5rem !important;
				margin-right: 2rem !important;
				margin-bottom: 2rem;
				background-image: url(../img/radio.png);
				background-repeat: no-repeat;
				background-position: 20px;
				width: 100%;
				font-size: 1.6rem;
				font-weight: 600;
				max-width: 36rem;
				
			}

	}
	
	.ginput_container_radio{
		width: 80%;
		margin: 0 auto;
		padding: 2rem 1.5rem;
		margin-bottom: 3rem !important;
		border-bottom: 1px solid #e5e5e5;
		overflow: hidden;

		@include breakpoint(small down){
			width: 100%;
			padding: 0rem;
		}

	}

	#gform_page_1_2 .gfield_radio li[class*="gchoice"] {
		label{
			line-height: 6rem;
		}
		
		input[value="Gourmet style appetizers"] + label {
			line-height: 3rem;
		}
	}

	.gfield_radio li[class*="gchoice"] input{
		position: absolute;
		left: -9999px;
	}


	ul.gfield_radio {
		
			li input[type=radio]:checked+label{
			background-color: $orange;
			color: $white;
			background-image: url(../img/radio-checked.png);
			background-repeat: no-repeat;
			background-position: 20px;
		}

	}

	input[type="text"], input[type="email"]{
		border-radius: 5px;
		border:none;
		background-color: #f5f5f5; 
		box-shadow: none;
		width: 100% !important;
		padding: 0 2rem !important;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  font-size:1.6rem;
		  color: $light-gray;
		  font-weight: 700;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  font-size:1.6rem;
		  color: $light-gray;
		  font-weight: 700;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  font-size:1.6rem;
		  color: $light-gray;
		  font-weight: 700;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  font-size:1.6rem;
		  color: $light-gray;
		  font-weight: 700;
		}

	}

	.name_first, .name_last {
		label {
			display: none !important;

		}
	}

	#field_1_62, #field_1_64{
		width: 50%;
		float: left;
		clear: none !important;

		@include breakpoint(small down){
			width: 100%;
			float: none;
		}

	}

	.instruction {
		color: $dark-gray;
		font-weight: 700;
	}

	.required_answer{
		font-size: 1.6rem;
		color: #c6c6c6;
		font-weight: 700;
	}

	.gform_page_footer {
		border-top:none !important;

		.button.gform_button, .button.gform_next_button, .gform_previous_button {
			background: #fbae43;
			background: -moz-linear-gradient(left, #fbae43 0%, #fbae43 0%, #e9863e 31%, #da6339 52%, #cf4a36 76%, #c02732 99%);
			background: -webkit-linear-gradient(left, #fbae43 0%, #fbae43 0%, #e9863e 31%, #da6339 52%, #cf4a36 76%, #c02732 99%);
			background: linear-gradient(to right, #fbae43 0%, #fbae43 0%, #e9863e 31%, #da6339 52%, #cf4a36 76%, #c02732 99%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbae43', endColorstr='#c02732',GradientType=1 );
			border-radius: 0.5rem;
			color: #fefefe;
			font-weight: 400;
			border: none;
			width: 30rem !important;
			padding: 3rem 0;
			font-size:  2rem !important;
		}
	} 

	.step_container {
		a 
		{ 
			background-color: $orange;
		}
	}
}


#{$box}{
	overflow: hidden;
	background-color: $white;
	margin: 4rem 0;
	border-radius: 2rem;
	padding:4rem 0;
	-webkit-box-shadow: 2px 2px 15px 0px rgba(179,179,179,1);
	-moz-box-shadow: 2px 2px 15px 0px rgba(179,179,179,1);
	box-shadow: 2px 2px 15px 0px rgba(179,179,179,1);
}

