$block: '.single-blog';
#{$block}{
	padding: 3rem 0;
	&__content{
		background-color: $white;
	}
	&__banner{
		img{
			display:block;
			margin:0 auto;
		}
	}
	&__post{
		padding: 2.5rem 5rem;
		h1{
			font-size:4.8rem;
			color: $orange;
			line-height:4.8rem;
			margin: 2.5rem 0;
		}
		p{
			font-weight:300;
			color: $dark-gray;
			font-size:1.6rem;
			line-height:2.8rem;
			a{
				color: $dark-gray;
				text-decoration:underline;
				&:hover{
					color: $orange;
				}
			}
		}
		ul{
			list-style: none;
    		padding-left: 2rem;
    		margin: 1.5rem 0;
    		li{
    			padding-left: 1em;
    			text-indent: -.7em;
    			color: $dark-gray;
    			font-weight:300;
    			font-size:1.6rem;
				line-height:2.8rem;
    			margin-bottom: 0.7rem;
    			a{
					color: $dark-gray;
					text-decoration:underline;
					&:hover{
						color: $orange;
					}
				}
    			&::before{
				    content: "• ";
    				color: rgb(255, 174, 122);
    			}
    		}
		}
		ol{
    		padding-left: 2rem;
    		margin: 1.5rem 0;
    		li{
    			padding-left: 1em;
    			text-indent: -.7em;
    			color: $dark-gray;
    			font-weight:300;
    			font-size:1.6rem;
				line-height:2.8rem;
    			margin-bottom: 0.7rem;
    			a{
					color: $dark-gray;
					text-decoration:underline;
					&:hover{
						color: $orange;
					}
				}
    		}
		}
	}
	&__breadcrums{
		font-weight:300;
		font-size:1.6rem;
		a{
			color: $dark-gray;
		}
	}
	&__info{
		margin-bottom: 2rem;
	}
	&__singular-info{
		display:inline-block;
		font-weight:300;
		font-size:1.6rem;
		a{
			color: $dark-gray;
		}
		&--date{
			padding-right: 2rem;
		}
		&--category{
			padding: 0 1rem;
		}
		&--social{
			padding-left:1rem;
			span{
				font-weight:700;
				margin-right: 1rem;
			}
			div{
				display:inline-block;
			}
		}
	}
	&__bottom-share{
		margin:2rem 0;
		span{
				font-weight:700;
				margin-right: 1rem;
			}
			div{
				display:inline-block;
			}
	}

	&__related{
		border-top: 0.1rem #e5e5e5 solid;
		padding-top:2rem;
		ul{
			list-style:none;
			margin:0;
			padding:0;
			li{
				padding-left:0;
				text-indent:0;
				a{
					color: $orange;
					text-decoration:none;
				}
				&::before{
					content:'';
				}
			}
		}
	}
}
$block: '.category-sidebar';
#{$block}{
	max-width:38rem;
	background-color: #555555;
	padding: 2rem 3rem 4rem;
	background-image: url(../img/sidebar-blog.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin:0 auto;
	&__links{
		min-height:30rem;
		padding-top:  1.5rem;
		&--archive{
			border-top: 0.1rem solid #666666;
		}
		h4{
			color: $white;
			font-size:3.2rem;
		}
		ul{
			list-style:none;
			margin:0;
			li{
				a{
					color: $white;
					font-weight:300;
					font-size:1.6rem;
					&:hover{
						color: $white;
					}
					&:active{
						color: $white;
					}
				}
			}
		}
	}
	@include breakpoint(medium down){
		margin-top: 1.5rem;
	}
}