$block: '.testimonials';
#{$block}{
	padding:4.5rem 0;
	h3{
		font-size:3.2rem;
		line-height:4.1rem;
		color: $orange;
		@include breakpoint(medium down){
			font-size:3.8rem;
			line-height:4.1rem;
		}
		@include breakpoint(small down){
			font-size:3.5rem;
			line-height:3.8rem;
		}
	}
	&__single{
		overflow:hidden;
		background-color: #f5f5f5;
		margin-bottom: 2rem;
		p{
			font-size:2rem;
			color:$dark-gray;
			line-height:3rem;
			font-weight:700;
			font-style:italic;
		}
		span{
			font-size:1.6rem;
			font-weight:300;
		}
		@include breakpoint(medium down){
			max-height:inherit;
		}

	}
	&__container{
		margin-top: 3rem;;
	}
	&__text{
		padding-top: 2.5rem;
		padding-bottom:2.5rem;
	}
	&__image{
		position:relative;
		background-color: #eeeeee;
		img{
			max-height:100%;
		 	position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
  			-ms-transform: translate(-50%, -50%);
  			
  			@include breakpoint(medium down){
				position:static;
				transform: translate(0%, 0%);
  				-ms-transform: translate(0%, 0%);
  				margin-bottom: 1rem;
			}
		}
		@include breakpoint(medium down){
			padding-top:1rem;
			padding-bottom:1rem;
		}

	}
	&__button{
		line-height:6rem;
		font-size:2rem;
		max-width:20rem;
		margin:2.5rem 0 0;
		font-weight:600;
	}
}